@using SpringSoftware.Web.Help
@model SpringSoftware.Web.Areas.Admin.Models.ProductViewModel

<table role="grid">
    <colgroup>
        <col style="width:200px">
        <col style="width:150px">
        <col style="width:200px">
    </colgroup>
    <thead  role="rowgroup">
        <tr role="row">
            <th role="columnheader" data-field="PictureUrl" data-title="图片" >图片</th>
            <th role="columnheader" data-field="DisplayOrder" data-title="显示顺序" >显示顺序</th>
            <th ></th>
        </tr>
    </thead>
    <tbody role="rowgroup">
        @foreach (var item in Model.ProductPictureList)
        {
            <tr  role="row">
                <td role="gridcell">
                    <a href=@ImageHelper.Get280PathByPictureId(item.PictureId,Model.PictureList) target="_blank">
                        <img alt="21" src=@ImageHelper.Get280PathByPictureId(item.PictureId, Model.PictureList) width="150">
                    </a>
                    <a></a>
                </td>
                @Html.HiddenFor(model=>item.Id)
      
                <td role="gridcell">
                    @Html.EditorFor(model=> item.DisplayOrder)
                </td>

                <td role="gridcell">
                    @Html.ActionLink("编辑", "EditPicture", new { id = item.Id, displayOrder = Html.FieldIdFor(model => item.DisplayOrder) })
                    @*<a  href="#">编辑</a>*@
                    <a  href="#">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>