@model SpringSoftware.Web.Areas.Admin.Models.ProductViewModel
@Html.ValidationSummary(false)
@using (Html.BeginForm(null, null, FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <div>
        @Html.LabelFor(x => x.UploadFile.File)
        @Html.TextBoxFor(x => x.UploadFile.File, new {type = "file"})
        @Html.ValidationMessageFor(x => x.UploadFile.File)
    </div>

    @*<button type="submit" id="uploadFile">上传文件</button>*@
}


