@using SpringSoftware.Web.Help
@model SpringSoftware.Web.Areas.Admin.Models.ProductViewModel

<script type="text/javascript">
    $(document).ready(function () {
        $("#EditPicture").click(function (e) {
            var id = $("#ProductPictureId").val();
            var displayOrder = $("#DisplayOrder").val();
            $.ajax({
                type: "POST",
                data: JSON.stringify({ id: id, displayOrder: displayOrder }),
                url: '@Url.Action("EditPicture", "Products")',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#SuccesDiv").html("<b>Your message has been succesfully sent</b>");
                }
            });
        });
    });
</script>

<table role="grid">
    <colgroup>
        <col style="width:200px">
        <col style="width:150px">
        <col style="width:200px">
    </colgroup>
    <thead  role="rowgroup">
        <tr role="row">
            <th role="columnheader" data-field="PictureUrl" data-title="图片" >图片</th>
            <th role="columnheader" data-field="DisplayOrder" data-title="显示顺序" >显示顺序</th>
            <th ></th>
        </tr>
    </thead>
    <tbody role="rowgroup">
        @foreach (var item in Model.ProductPictureList)
        {
            <tr  role="row">
                <td role="gridcell">
                    <a href=@ImageHelper.Get280PathByPictureId(item.PictureId,Model.PictureList) target="_blank">
                        <img alt="21" src=@ImageHelper.Get280PathByPictureId(item.PictureId, Model.PictureList) width="150">
                    </a>
                    <a></a>
                </td>
                @Html.HiddenFor(model=>item.Id,new {id="ProductPictureId"})
                <td role="gridcell">
                    @Html.EditorFor(model => item.DisplayOrder)
                </td>
                <td role="gridcell">
                    @*@Html.ActionLink("编辑", "EditPicture", new { id = item.Id, displayOrder = "DisplayOrder" })*@
                    <input id="EditPicture" type="submit" value="编辑" class="btn btn-default" />
                    <a  href="#">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>

 

 
 
