@model SpringSoftware.Web.Areas.Admin.Models.ProductViewModel
@Html.ValidationSummary(false)
<script type="text/javascript">
    $(document).ready(function () {
 


       
          
       
        $('#fileuploadId').fileupload({
            url:'@Url.Action("UploadFile", "Products")',
                dataType: 'json',
                done: function (e, data) {
                    $('.file_name').html(data.result.name);
                    $('.file_type').html(data.result.type);
                    $('.file_size').html(data.result.size);
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('.progress .progress-bar').css('width', progress + '%');
                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });

        @*$('#fileuploadId').fileupload({
                dataType: 'json',
                url: '@Url.Action("UploadFile", "Products")',
                autoUpload: true,
                done: function (e, data) {
                    $('.file_name').html(data.result.name);
                    $('.file_type').html(data.result.type);
                    $('.file_size').html(data.result.size);
                }
            }).on('fileuploadprogressall', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progress .progress-bar').css('width', progress + '%');
            });*@


        @*$("#uploadFile").on("click", function () {
            var button = $('#UploadFile_File')[0];
            var uploadFile = $("#UploadFile_File").val();
            $.ajax({
                type: "POST",
                data: { file: button },
                url: '@Url.Action("UploadFile", "Products")',
                success: function (data) {
                    $("#SuccesDiv").html("<b>上传成功!</b>");
                }
            });
        });*@
    //});
</script>
<div>
    <span>上传文件</span>
    @*@Html.LabelFor(x => x.UploadFile.File)*@
    @*@Html.TextBoxFor(x => x.UploadFile.File, new { type = "file" })*@
    @*@Html.ValidationMessageFor(x => x.UploadFile.File)*@
</div>

<div class="container">
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add files...</span>
        <input id="fileuploadId" type="file" name="files[]" multiple>
    </span>
    <br />
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            <span class="sr-only">0% complete</span>
        </div>
    </div>
    <br />
    <div class="file_name"></div>
    <br />
    <div class="file_type"></div>
    <br />
    <div class="file_size"></div>
</div>
<input id="uploadFile" type="button" value="上传文件" class="btn btn-default" />
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        <span class="sr-only">0% complete</span>
    </div>
</div>





