@model SpringSoftware.Web.Areas.Admin.Models.ProductViewModel
@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>
 

 @Html.Partial("_CreateOrUpdate", Model)
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
